<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .row {
        display: flex;
      }
      .title {
        min-width: 180px;
      }
      img {
        margin-top: 8px;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <span class="title">Artikel:</span>
      <span class="value"><%= unit_price %> €/1kg; </span>
    </div>
    <div class="row">
      <span class="title">Grundpreis:</span>
      <span class="value"><%= unit_price %> €/1kg; </span>
    </div>
    <div class="row">
      <span class="title">Gewogenes Gewicht:</span>
      <span class="value"><%= weight %> kg; </span>
    </div>
    <div class="row">
      <span class="title">Preis:</span>
      <span class="value"><%= selling_price %> € </span>
    </div>

    <img src="<%= barcode %>" />
  </body>
</html>
